# Please read the corosync.conf.5 manual page
compatibility: whitetank

totem {
        version: 2
        secauth: off
        threads: 0 
        interface {

                ringnumber: 0  
                bindnetaddr: 0.0.0.0
                mcastport: 5404 
                ttl: 1    
        }
        transport: udpu
}
quorum {
  provider: corosync_votequorum
  two_node: 1
}

nodelist {
{% for host in groups['haproxy'] %}
  node {
    ring0_addr: {{ host }}
    name: primary
    nodeid: {{ loop.index }}
  }
{% endfor %}
}

logging {
        fileline: off
        to_stderr: no
        to_logfile: yes
        to_syslog: yes
        logfile: /var/log/cluster/corosync.log
        debug: off
        timestamp: on
        logger_subsys {
                subsys: AMF
                debug: off
        }
}

amf {
        mode: disabled
}

service {   
  ver:  0  
  name: pacemaker
  use_mgmtd: yes
   }
