global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 debug
        chroot /var/lib/haproxy
        pidfile /var/run/haproxy.pid
        maxconn   45000 # Total Max Connections.
        daemon
        user haproxy
        group haproxy
defaults
        mode http
        log global
        option httplog
        option                  dontlognull
        option http-server-close
        option forwardfor       except 127.0.0.0/8
       option                  redispatch
       retries                 3
       timeout http-request    10s
       timeout queue           1m
       timeout connect         10s
       timeout client          1m
       timeout server          1m
       timeout http-keep-alive 10s
       timeout check           10s
       maxconn                 3000

# [HTTP Site Configuration]
frontend s3-nginx
{% if ssl_frontend|default(false)|upper == "TRUE" %}
  bind :443 ssl crt /etc/ssl/certs/s3-nginx.pem
{% else %}
  bind :80
{% endif %}
  mode http
  log global
  default_backend s3-nginx
  stats enable
        stats hide-version
        stats refresh 30s
        stats show-node
        stats auth admin:scality
        stats uri  /stats
        timeout client          1m

frontend sproxyd
    bind :8081
    mode http
    default_backend sproxyd

frontend elk
    bind :9200
    mode http
    default_backend elk

backend s3-nginx
  mode http
    option forwardfor except 127.0.0.1
    option httpchk HEAD /_/healthcheck/deep
    option http-server-close
    option httpclose
    http-check expect status 200
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    balance leastconn 
{% for host in groups['runners_s3'] %}
        server {{ host }} {{ hostvars[host]['ansible_host"] }}:{% if ssl_backend|default(false)|upper == "TRUE" %}443{%else%}80{%endif%} weight {% if hostvars[inventory_hostname].site|default('') ==  hostvars[host].site|default('')  %}2{%else%}1{% endif %} maxconn 512 check {% if ssl_backend|default(false)|upper == "TRUE" %} ssl {% endif %}

{% endfor %}


backend sproxyd
  mode http
    option forwardfor except 127.0.0.1
    option httpchk HEAD /_/healthcheck/deep
    option http-server-close
    option httpclose
    http-check expect status 200
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    balance roundrobin 
{% for host in groups['runners_s3'] %}
        server {{ host }} {{ hostvars[host]['ansible_host"] }}:81 weight 1{% if hostvars[inventory_hostname].site ==  hostvars[host].site|default('')  %}2{%else%}1{% endif %} maxconn 512 check
{% endfor %}

backend elk
  mode http
    option forwardfor except 127.0.0.1
    option httpchk HEAD /_/healthcheck/deep
    option http-server-close
    option httpclose
    http-check expect status 200
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    balance source 
{% for host in groups['runners_s3'] %}
        server {{ host }} {{ hostvars[host]['ansible_host"] }}:9200 weight 1{% if hostvars[inventory_hostname].site ==  hostvars[host].site|default('')  %}2{%else%}1{% endif %} maxconn 512 check
{% endfor %}
