<configuration>
  <crm_config>
    <cluster_property_set id="cib-bootstrap-options">
      <nvpair id="cib-bootstrap-options-stonith-enabled" name="stonith-enabled" value="false"/>
      <nvpair id="cib-bootstrap-options-have-watchdog" name="have-watchdog" value="false"/>
      <nvpair id="cib-bootstrap-options-dc-version" name="dc-version" value="1.1.23-1.el7_9.1-9acf116022"/>
      <nvpair id="cib-bootstrap-options-cluster-infrastructure" name="cluster-infrastructure" value="corosync"/>
      <nvpair id="cib-bootstrap-options-cluster-name" name="cluster-name" value="haproxy"/>
    </cluster_property_set>
  </crm_config>
  <nodes>
{% for host in vars.groups['haproxy'] %}
    <node id="{{ loop.index }}" uname="{{ host }}"/>
{% endfor %}
  </nodes>
  <resources>
    <group id="HA_VIP">
      <primitive class="ocf" id="VirtualIP" provider="heartbeat" type="IPaddr2">
        <instance_attributes id="VirtualIP-instance_attributes">
          <nvpair id="VirtualIP-instance_attributes-cidr_netmask" name="cidr_netmask" value="{{ ip_class|default('24') }}"/>
          <nvpair id="VirtualIP-instance_attributes-ip" name="ip" value="{{ vip }}"/>
        </instance_attributes>
        <operations>
          <op id="VirtualIP-monitor-interval-1min" interval="1min" name="monitor"/>
          <op id="VirtualIP-start-interval-0s" interval="0s" name="start" timeout="20s"/>
          <op id="VirtualIP-stop-interval-0s" interval="0s" name="stop" timeout="20s"/>
        </operations>
      </primitive>
      <primitive class="systemd" id="HAPROXY" type="haproxy">
        <operations>
          <op id="HAPROXY-monitor-interval-1min" interval="1min" name="monitor"/>
          <op id="HAPROXY-start-interval-0s" interval="0s" name="start" timeout="100"/>
          <op id="HAPROXY-stop-interval-0s" interval="0s" name="stop" timeout="100"/>
        </operations>
      </primitive>
    </group>
  </resources>
  <constraints/>
</configuration>
